.book {
    border: 1px black solid;
    height: 350px;
    margin: 10px;
}
.book_img {
    text-align: center;
    img {
        width: 160px;
        height: 200px;
    }
}
.book_name {
    height: 58px;
}